<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Pulsestorm_MenuTutorial::menu_items" title="Tutorial Menu Items">
                    <resource id="Pulsestorm_MenuTutorial::example_1" title="First Example"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
