<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    <add id="Pulsestorm_ToDoCrud::pulsestorm_todocrud_menu" resource="Pulsestorm_ToDoCrud::pulsestorm_todocrud_menu" title="My Link Title" action="pulsestorm_todocrud/index/index" module="Pulsestorm_ToDoCrud" sortOrder="10"/></menu>
</config>
