<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    <add id="Pulsestorm_HelloAdminBackend::a_menu_item" resource="Pulsestorm_HelloAdminBackend::menu_1" title="Hello Admin Backend Pestle" action="pulsestorm_hello_admin_backend/index/index" module="Pulsestorm_HelloAdminBackend" sortOrder="1" parent="Magento_Backend::system_other_settings" dependsOnModule="Magento_Backend"/></menu>
</config>
